<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-6">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100">
                        <div class="modal-content">
                            <form (submit)="onSubmit(resetForm)" #resetForm="ngForm">
                                <div class="modal-header">
                                    <div class="h5 modal-title">
                                        Forgot your Password?
                                        <h6 class="mt-1 mb-0 opacity-8">
                                            <span>Use the form below to reset it.</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail" class="">Email</label><input name="email"
                                                    placeholder="Email here..." type="email" class="form-control"
                                                    ngModel #emailInput="ngModel" required email
                                                    [ngClass]="{ 'is-invalid': emailInput.invalid && (emailInput.dirty || emailInput.touched) }" />
                                                <em *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
                                                    class="error invalid-feedback">
                                                    Email is required
                                                </em>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <input name="password" placeholder="New Password here..." type="password"
                                                    class="form-control" ngModel #passwordInput="ngModel" required
                                                    minlength="7" maxlength="40"
                                                    [ngClass]="{ 'is-invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched) }" />
                                                <em *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
                                                    class="error invalid-feedback">
                                                    <span *ngIf="passwordInput.errors.required">
                                                        Password is required.
                                                    </span>
                                                    <span *ngIf="passwordInput.errors.minlength">
                                                        Password must be at least 7 characters long.
                                                    </span>
                                                    <span *ngIf="passwordInput.errors.maxlength">
                                                        Password must be at max 40 characters long.
                                                    </span>
                                                </em>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <h6 class="mb-0">
                                        <a href="javascript:void(0);" class="text-primary"
                                            [routerLink]="['/login']">Sign in existing account</a>
                                    </h6>
                                </div>
                                <div class="modal-footer clearfix">
                                    <div class="float-right">
                                        <button class="btn btn-primary btn-lg btn-shadow btn-hover-shine" [disabled]="!resetForm.form.valid">Reset Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">
                        Copyright © ArchitectUI 2019
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>