<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="btn-actions-pane-right">
            <button class="mr-5 btn-hover-shine btn btn-lg btn-shadow btn-primary" (click)="openAdd(addContact)">Add
                Contact
            </button>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th class="">#</th>
                    <th>Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of contacts">
                    <td class="text-muted">#{{row._id}}</td>
                    <td>{{row.name}}</td>
                    <td class="text-center">{{row.mobile}}</td>
                    <td class="text-center">{{row.email}}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm">
                            <button class="btn-shadow btn btn-primary btn-hover-shine"
                                (click)="openView(viewContact, row._id)">View</button>
                            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                class="dropdown-toggle-split dropdown-toggle btn btn-primary btn-shadow"></button>
                            <div role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu"
                                x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 33px, 0px);">
                                <button type="button" class="dropdown-item" (click)="openEdit(addContact, row._id)">Edit</button>
                                <button type="button" class="dropdown-item" (click)="deleteContact(row._id)">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<nav *ngIf="totalItems > 0" class="pagination-rounded">
    <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="page" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>

</nav>

<ng-template #addContact let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Contact</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="onSubContactForm()">
            <div class="form-group">
                <input class="form-control" type="text" formControlName="name" placeholder="Full name (optional)"
                    maxlength="40">
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" maxlength="20" formControlName="mobile"
                    placeholder="Mobile Number" required
                    [ngClass]="{ 'is-invalid': f.mobile.invalid && (f.mobile.dirty || f.mobile.touched) }">
                <em *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)" class="error invalid-feedback">
                    <span *ngIf="f.mobile.errors.required">
                        Mobile Number is required.
                    </span>
                    <span *ngIf="f.mobile.errors.minlength">
                        Mobile must be at least 10 characters long.
                    </span>
                </em>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="email" maxlength="40"
                    placeholder="Email address (optional)"
                    [ngClass]="{ 'is-invalid': f.email.invalid && (f.mobile.dirty || f.email.touched) }">
                <em *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="error invalid-feedback">
                    <span *ngIf="f.email.errors.email">
                        Invalid email format
                    </span>
                </em>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="city" maxlength="20"
                    placeholder="City (optional)">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="state" maxlength="30"
                    placeholder="State (optional)">
            </div>
            <div class="form-group">
                <select class="form-control" formControlName="tags" multiple>
                    <option value="Tag1">Tag1</option>
                    <option value="Tag1">Tag2</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label">Custom Fields</label>
                </div>
                <div class="col-md-12" formArrayName="fields">
                    <div *ngFor="let field of fields.controls; let i=index">
                        <ng-container [formGroupName]="i">
                            <a class="ion-android-delete float-right text-dark" (click)="delFields(i)"
                                href="javascript:;"></a>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Field" formControlName="field">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Value" formControlName="value">
                            </div>
                        </ng-container>
                    </div>
                </div>
                <a class="ion-android-add float-left text-dark" (click)="addFields()"
                    style="color: blue; cursor: pointer;">Add</a>
            </div>
            <div class="row justify-content-end">
                <div class="col-3 align-self-end">
                    <button type="submit" class="btn-block btn-hover-shine btn btn-lg btn-shadow btn-primary"
                        [disabled]="!contactForm.valid">Save</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #viewContact let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">View Contact</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-subheading">Full Name</div>
                                    <div class="widget-heading">{{ contact?.name }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-subheading">Mobile Number</div>
                                    <div class="widget-heading">{{ contact?.mobile }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-subheading">Email</div>
                                    <div class="widget-heading">{{ contact?.email }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-subheading">City</div>
                                    <div class="widget-heading">{{ contact?.city }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-subheading">State</div>
                                    <div class="widget-heading">{{ contact?.state }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-subheading">Tags</div>
                                    <div class="widget-heading">{{ contact?.tags?.join(', ') }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>