<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="btn-actions-pane-right">
            <button class="mr-5 btn-hover-shine btn btn-lg btn-shadow btn-primary" (click)="open(content)">Add Contact
            </button>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Contact</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="onSubContactForm()">
            <div class="form-group">
                <input class="form-control" type="text" formControlName="name" placeholder="Full name (optional)"
                    maxlength="40">
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" maxlength="20" formControlName="mobile"
                    placeholder="Mobile Number" required
                    [ngClass]="{ 'is-invalid': f.mobile.invalid && (f.mobile.dirty || f.mobile.touched) }">
                <em *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)" class="error invalid-feedback">
                    <span *ngIf="f.mobile.errors.required">
                        Mobile Number is required.
                    </span>
                    <span *ngIf="f.mobile.errors.minlength">
                        Mobile must be at least 10 characters long.
                    </span>
                </em>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="email" maxlength="40"
                    placeholder="Email address (optional)"
                    [ngClass]="{ 'is-invalid': f.email.invalid && (f.mobile.dirty || f.email.touched) }">
                <em *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="error invalid-feedback">
                    <span *ngIf="f.email.errors.email">
                        Invalid email format
                    </span>
                </em>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="city" maxlength="20"
                    placeholder="City (optional)">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="state" maxlength="30"
                    placeholder="State (optional)">
            </div>
            <div class="form-group">
                <select class="form-control" formControlName="tags">
                    <option>Tags</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label">Custom Fields</label>
                </div>
                <div class="col-md-12" formArrayName="fields">
                    <div *ngFor="let field of fields.controls; let i=index">
                        <ng-container [formGroupName]="i">
                            <a class="ion-android-delete float-right text-dark" (click)="delFields(i)"
                                href="javascript:;"></a>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Field" formControlName="cField">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Value" formControlName="cValue">
                            </div>
                        </ng-container>
                    </div>
                </div>
                <a class="ion-android-add float-left text-dark" (click)="addFields()"
                    style="color: blue; cursor: pointer;">Add</a>
            </div>
            <div class="row justify-content-end">
                <div class="col-3 align-self-end">
                    <button type="submit" class="btn-block btn-hover-shine btn btn-lg btn-shadow btn-primary"
                        [disabled]="!contactForm.valid">Save</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>